<div class='sessions new row'>
  <div class='col-xs-12'>
    <div class='logo'></div>

    <div class='fields'>
      <%= form_for :user, as: 'POST', url:sessions_path do |f| %>
        <div class='input-group center-block'>
          <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
          <%= f.text_field :password, class: 'form-control', placeholder: 'Password' %>
          <%= f.submit 'Login', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
