<div class='entities index row'>
  <div class='col-xs-12'>
    <h4>What are you interested in?</h4>

    <% @entities.each do |entity| %>
    	<%= render(partial: "entities/shared/entity", locals: { entity: entity }) %>
    <% end %>
  </div>
</div>
