<div class='entities show row-fluid'>
  <%= render(partial: 'entities/shared/entity', locals: { entity: @entity, follow: false }) %> 
  <div class='buttons'>

		<button>
		Get a Ride!
		</button>

		<button>
		Pay your driver!
		</button>

		<%= image_tag("MastercardMoneySend.jpg", height: "75px", width: "112px") %>

	</div>
</div>