<div class='entities show row-fluid'>
  <div class='tabs'>
    <div class='tab'>Read It</div>
    <div class='tab'>Live it</div>
  </div>
  <div class='read-it-contents'>
  </div>
  <div class='live-it-contents'>
  </div>
</div>
