<div class='entities show row-fluid'>
  <%= render(partial: 'entities/shared/entity', locals: { entity: @entity, follow: false }) %>
  <div class='tabs'>
    <div class='tab tab-read-it separator'>Read It</div>
    <div class='tab tab-live-it active'>Live it</div>
  </div>
  <div class='tab-contents read-it-contents inactive'>
    <div class='tweet tweet0'></div>
    <div class='score'>
      <div class='team'>
        <div class='team-logo cubs'></div>
        <div class='team-info'>
          <span class='city'>Chicago</span><br/>
          <span class='team-name'>Cubs</span>
        </div>
        <div class='team-score'>3</div>
      </div>

      <div class='team'>
        <div class='team-logo cardinals'></div>
        <div class='team-info'>
          <span class='city'>St. Louis</span><br/>
          <span class='team-name'>Cardinals</span>
        </div>
        <div class='team-score'>27</div>
      </div>
    </div>
    <div class='tweet tweet1'></div>
    <div class='tweet tweet2'></div>
  </div>
  <div class='tab-contents live-it-contents'>
    <%= link_to(rides_path) do %>
      <div class='bar'>Rides</div>
    <% end %>
    <%= link_to(tickets_path) do %>
      <div class='bar'>Tickets</div>
    <% end %>
    <div class='bar'>Competitions</div>
    <div class='bar'>Store</div>
    <div class='bar'>Auctions</div>
    <%= link_to(fan_path) do %>
      <div class='bar'>Ultimate Fan Experience</div>
    <% end %>
  </div>
</div>
