<div class='entities show row-fluid'>
  <%= render(partial: 'entities/shared/entity', locals: { entity: @entity, follow: false }) %> 
  <script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>
        <script type="text/javascript" src="https://www.simplify.com/commerce/v1/simplify.js"></script>
<button data-sc-key="sbpb_NjM0YjI2OGItZGUxOC00OWYwLTg1ZWMtODk4NjQ2MGVmNzQz"
        data-name="Cardinals Tickets"
        data-description="Thursday October 15 @ 3:30pm \nBusch Stadium"
        data-reference="99999"
        data-amount="39999"
        data-color="#38A4DD"
        data-masterpass="true"
        >
        Buy Now
</button>

  </div>