<div class='home index row-fluid'>
  <div class='col-xs-12'>
    <div class='logo'></div>
    <div class='logotype'></div>

    <div class='foo'>
      <%= link_to(new_session_path) do %>
        <button class='btn btn-default'>Log In</button>
      <% end %>

      <%= link_to(new_user_path) do %>
        <button class='btn btn-default'>Sign Up</button>
      <% end %>
    </div>
  </div>
</div>
