<div class="entity">
	<div class="logo">
		<img src="<%= image_path(entity.logo_path) %>"/>
	</div>
	<div class="info">
		<div>
			<%=  entity.category  %>
		</div>
		<div>
			<%= entity.name %>
		</div>
		<button class='follow-btn'>Follow
		</button>
	</div>
</div>