@import 'colors';

.entities {
  &.index {
    min-height: 100%;
    background-color: $fanfare-blue;
    overflow: hidden;

    .done-btn {
      width: 100%;
    }
  }

  &.show {
    min-height: 100%;
    background-color: $fanfare-blue;

    .event_div {
      height: 180px;
      width: 130px;
      background-color: #FFFFFF;
      margin-left: 10px;
      border-radius: 10px;
    }
    .get_tickets_btn {
      height: 40px;
      overflow: auto;
      position: relative;
      bottom: -130px;
      right: -6px;
    }
    .tabs {
      overflow: hidden;
      border-bottom: 1px solid darken($fanfare-blue, 15%);
      border-top: 1px solid darken($fanfare-blue, 15%);

      .tab {
        width: 50%;
        vertical-align: center;
        float: left;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        &:hover {
          background-color: darken($fanfare-blue, 15%);
        }

        &.active {
          background-color: darken($fanfare-blue, 10%);

          &:hover {
            background-color: darken($fanfare-blue, 15%);
          }
        }

        &.separator {
          border-right: 1px solid darken($fanfare-blue, 15%);
        }
      }
    }

    .tab-contents {
      overflow: hidden;

      &.inactive {
        display: none;
      }
    }

    .bar {
      padding: 25px;
      background-color: #FFF;
      margin-top: 5px;
      font-size: 15px;
      font-weight: bold;
    }

    .score {
      background-color: #FFF;
      padding: 10px;
      margin-top: 5px;

      .team {
        overflow: hidden;
        margin-bottom: 10px;

        .team-logo {
          height: 40px;
          width: 40px;
          float: left;
          margin-top: 5px;

          &.cubs {
            background: asset-url('logos/cubs-small.png') no-repeat;
            background-size: 40px 40px;
          }

          &.cardinals {
            background: asset-url('logos/cardinals-small.png') no-repeat;
            background-size: 40px 40px;
          }
        }

        .team-info {
          float: left;
          margin-left: 10px;
          width: 130px;

          .city {
            font-size: 12px;
          }

          .team-name {
            font-size: 18px;
          }
        }

        .team-score {
          float: left;
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }
  }
}
