@import 'colors';

.entities {
  &.index {
    height: 100%;
    background-color: $fanfare-blue;

    .done-btn {
      width: 100%;
    }
  }

  &.show {
    height: 100%;
    background-color: $fanfare-blue;
    
    .event_div {
      height: 180px;
      width: 130px;
      background-color: #FFFFFF;
      margin-left: 10px;
      border-radius: 10px;
    }
    .get_tickets_btn {
      height: 40px;
      overflow: auto;
      position: relative;
      bottom: -130px;
      right: -6px;
    }
    .tabs {
      overflow: hidden;
      border-bottom: 1px solid darken($fanfare-blue, 15%);
      border-top: 1px solid darken($fanfare-blue, 15%);

      .tab {
        width: 50%;
        vertical-align: center;
        float: left;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        &:hover {
          background-color: darken($fanfare-blue, 15%);
        }

        &.active {
          background-color: darken($fanfare-blue, 10%);

          &:hover {
            background-color: darken($fanfare-blue, 15%);
          }
        }

        &.separator {
          border-right: 1px solid darken($fanfare-blue, 15%);
        }
      }
    }

    .tab-contents {
      &.inactive {
        display: none;
      }
    }

    .bar {
      padding: 25px;
      background-color: #FFF;
      margin-top: 5px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}
