@import 'colors';

.sessions {
  overflow: hidden;

  &.new {
    background-color: $fanfare-blue;
    padding-top: 10%;
    height: 100%;

    .logo {
      background: asset-url('logo.png') no-repeat;
      background-size: 200px 200px;
      height: 200px;
    }

    .logotype {
      background: asset-url('logotype.png') no-repeat;
      background-size: 200px 35px;
      height: 35px;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    .fields {
      padding: 10px;
      height: 100px;

      .btn {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
