@import 'colors';

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-default {
  color: $fanfare-blue !important;
}
