@import 'colors';

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-default {
  color: $fanfare-blue !important;
}

.flash {
  padding: 8px 0 0 15px;
  background-color: lighten($fanfare-blue, 20%);
  border-bottom: 1px solid $fanfare-blue;
}

.top-nav {
  padding: 8px 15px 0 15px;
  background-color: lighten($fanfare-blue, 20%);
  border-bottom: 1px solid $fanfare-blue;
  overflow: hidden;

  .button {
    float: right;
  }

  .user {
    float: left;
  }

  .octicon-search {
    float: right;
    margin-right: 10px;
    color: darken($fanfare-blue, 15%);
  }
}
