@import 'colors';

.users {
  overflow: hidden;

  &.new {
    background-color: $fanfare-blue;
    padding-top: 10%;
    height: 100%;

    .fields {
      padding: 10px;
      height: 100px;

      .btn {
        width: 100%;
        margin-top: 10px;
      }

      .btn:hover {
        background-color: $fanfare-gray;
      }
    }
  }
}
